<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoodScanner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>624952AF27F336216E927B61535EDB21BB3684CB</string>
				<key>dateExpires</key>
				<string>06.04.2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F6DAPAJ63Z.---.FoodScanner</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F6DAPAJ63Z</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FoodScanner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3df5ec67-20a7-4fd0-870b-708c6c96676a</string>
				<key>dateExpires</key>
				<string>13.04.2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ---.FoodScanner</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F6DAPAJ63Z</string>
				<key>name</key>
				<string>Andrew Tr</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
